/*************头部header的样式***************/
/*二级菜单的样式*/
#header{
	position: relative;
}
#headerBox{
	width: 100%;
	height: 150px;
	background: black;
	display: none;
	position: absolute;
	top: 130px;
	left: 0;
	z-index: 10;	
}
#headerBox .iconfont{
	display: block;
	color: black;
	position: absolute;
	top: -14px;
	left: 44%;
	/*z-index: 15;*/
}
.secondBox{
	margin-top: 50px;
	margin: 50px auto;
	/*background: red;*/
}
.second{
	margin-left: 10%;
	margin-top: 10px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
/*****************/
#header01{
	width: 1300px;
	height: 130px;
	/*background: orange;*/
	margin: 0 auto;
	/*overflow: hidden;*/
}
#header02{
	height: 16px;
	background: black;
}
#logo{
	width: 156px;
	height: 130px;
}
#header03{
	width: 350px;
	height: 48px;
	/*background: pink;*/
}
.header_btn01{
    margin: 12px 10px;
    float: left;
}
.header_btn01 a{
	font-size: 16px;
    font-weight: bold;
    color: #9b9b9b;
}
.header_btn01 a:hover{
	color: red;
	text-decoration: none;
}
#header04{
    width: 800px;
    height: 65px;
    /*background: pink;*/
    margin-top: 65px;
}
#header05{
    width: 800px;
    height: 130px;
    /*background: deepskyblue; */
}
.header_btn02{
	width: auto;
	height: 60px;
    float: left;
    margin-left:25px;
    text-align: center;
    line-height: 60px;
}
.header_btn02 a{
	color: #000;
    display: block;
    font-family: "Franklin-Demi","冬青黑体","microsoft yahei";
    font-size: 16px;
    font-weight: bold;
}
#header04 input{
	float: right;
	width: 178px;
    height: 26px;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    margin-top: 20px;
}
#header04 .loca{
	float: right;	
	margin-top: 24px;
	margin-right: -170px;
}
.header_btn02 a:hover{
	color: red;
	text-decoration: none;
}
/*吸顶效果的样式*/
#bigscrollBox{
	display: none;
	height: 50px;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
}
#smallscrollBox{
	height: 50px;
	/*background: pink;*/
}
#scrolllogo{
	margin-left: 55px;
	margin-top: 5px;
	width: 156px;
	height: 40px;
}
#scrollright{
    width: 800px;
    height: 50px;
    /*background: pink;*/
    margin-right: 70px;
}
#scrollright input{
	float: right;
	width: 178px;
    height: 26px;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    margin-top: 14px;
}
#scrollright .loca{
	float: right;	
	margin-top: 20px;
	margin-right: -170px;
}
/*置顶盒子*/
#topBox{
	width: 60px;
	height: 183px;
	/*background: #589BC6;*/
	position: fixed;
	right: 0;
	bottom: 60px;
	z-index: 40;
}
.fixedBox{
	width: 60px;
	height: 60px;
	margin-top: 1px;
	background: black;
}
.fixedBox .iconfont{
	display: block;
	width: 40px;
	height: 33px;
	font-size: 30px;
	color: white;
	margin-top: 6px;
	margin-left: 14px;
}
.fixedBox a{
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: white;
	text-align: center;
	text-decoration: none;
}
.fixedBox:nth-child(1){
	background: #c8192e;
}
#top{
	display: none;
}